{% extends 'crm/base.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-12 d-flex flex-column align-top">
      <div class="text-center">
        <img
          src="{% static 'crm/logo.png' %}"
          alt="Logo de EpicEvents"
          width="10%"
        />
      </div>
      <div class="p-2">
        <h1 class="text-center p-3">
          Welcome To EpicEvents CRM
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <h2 class="text-center p-5 ">What would you want to do ?</h2>
  <div class="row d-flex justify-content-around mb-5 ">
    <div class="col-11 col-md-5 p-3 m-3 shadow bg-light">
      <h3 class="p-2 text-center">
        Connect to your EpicEvents management interface</h3>
      <div class="text-center">
        <button class="btn btn-success m-2" type="submit">
          <a
            href="{% url 'admin:index' %}"
            style="color: inherit; text-decoration: none"
            >Portal CRM Access</a
          >
        </button>
      </div>
    </div>
    <div class="col-11 col-md-5 p-3 m-3 shadow bg-light">
      <h3 class="p-2 text-center">
        Consult the documentation for an API connection</h3>
      <div class="text-center">
        <button class="btn btn-warning m-2" type="submit">
          <a
            href="https://documenter.getpostman.com/view/16769688/Uyr7HyL3"
            style="color: inherit; text-decoration: none"
            >PostMan documentation API</a
          >
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
